.title{
  font-family: 'Berkshire Swash', cursive;
  /* color: rgba(255, 0, 0, .7); */
  color:#e17772;
}

.spazioBtn{
    margin-top: 3%;
    
    
 }

 /* .txtWhite{
    color: white;
 }

 .txtBlack{
    color:black;
 } */

 .piccolo{
   height: 10%;
 }

 .spazio{
   margin-right: 3%;
 }

 .txtColor{
   color: aqua;
 }

 .bgButton {
  background-color: #d84f48;
 }

 .btn:hover{
  color:#0F8A5F ;
 }
 /* a:hover{color:red;} */
