.title{
  font-family: 'Berkshire Swash', cursive;
  /* color: rgba(255, 0, 0, .7); */
}

.spazioBtn{
    margin-top: 3%;
    
    
 }

 /* .txtWhite{
    color: white;
 }

 .txtBlack{
    color:black;
 } */

 .piccolo{
   height: 10%;
 }

 .spazio{
   margin-right: 3%;
 }

 .txtColor{
   color: aqua;
 }